<div class="notifications">
    <div class="notice"><%= flash[:notice] %></div>
</div>

<h1>User#show</h1>
<%= render 'users/userinfo', user: @user %>
<%= render 'books/new', book: @newbook %>

<%= render 'books/list', books: @books %>