<div class="notifications">
  <div class="notice"><%= flash[:notice] %></div>
</div>
<main>
  <h1> top Welcome to Bookers!!</h1>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
</main>